/* Make the home page pretty. */
.pageheader .title ,
nav.actions > ul { display: none; }
body { background-color: #666; }
html, body {
  width: 100%;
  height: 100%;
}

html, body, h2, #boxes ul {
  margin: 0;
  padding: 0;
}
h2 {
  color: #FE57A1;
  font-size: inherit;
} 
.card {
  background-color: white;
  text-align: center;
  padding: 20px;
  margin: 20px;
}
#boxes li {
  list-style-type: none;
}

#callingcard > a, #callingcard > img { display: block; }
#callingcard > img { margin-left: auto; margin-right: auto; }
#boxes > .card {
  float: left;
  width: 120px;
  height: 120px;
}
#content {
  float: left;
  width: 320px;
}
#callingcard {
  width: 120px;
  height: 320px;
  margin-top: 0;
}
#searchform {
  height: 40px;
}
@media screen and (min-width: 440px) {
  #content {
    width: 400px;
  }
  #callingcard {
    width: 320px;
  }
}
@media screen and (min-width: 640px) {
  #content {
    width: 600px;
  }
  #callingcard {
    width: 520px;
  }
}
