/* Make the home page pretty. */
.pageheader .title ,
nav.actions > ul { display: none; }
body { background-color: #666; }
html, body {
  width: 100%;
  height: 100%;
}
#content {
  width: 100%;
  max-width: 520px;
  float: left;
}
.card {
  background-color: white;
  width: 100%;
  text-align: center;
}
#callingcard > a, #callingcard > img { display: block; }
#callingcard > img { margin-left: auto; margin-right: auto; }
#boxes > .card {
  width: 220px;
  padding: 20px;
  margin: 0;
}
