/* Make the home page pretty. */
.pageheader .title ,
.pagefooter,
nav.actions > ul { display: none; }
body { background-color: #666; }
html, body {
  width: 100%;
  height: 100%;
}

html, body, h2, #boxes ul, blockquote, input#searchbox {
  margin: 0;
  padding: 0;
}
h1 { display: none; }
h2 {
  color: #FE57A1;
  font-size: inherit;
} 
.card {
  background-color: white;
  text-align: center;
  padding: 20px;
  margin: 10px;
}
#boxes li {
  list-style-type: none;
}

#callingcard p { text-align: left; }
#callingcard > a, #callingcard > img { display: block; }
#callingcard > img { margin-left: auto; margin-right: auto; }
#boxes > .card {
  float: left;
  width: 120px;
  height: 120px;
}
#content {
  color: #999;
  float: left;
  width: 180px;
  margin-left: 10px;
}
#callingcard {
  width: 120px;
  height: 480px;
  margin-top: 0;
}
input#searchbox {
  display: block;
  border: none;
  width: 140px;
  padding-right: 20px;
}
.page { margin-top: 20px; }

#searchform {
  float: left;
  margin-left: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 240px) {
  input#searchbox {
    margin-right: 80px;
  }
}
@media screen and (min-width: 440px) {
  #content {
    width: 400px;
  }
  #callingcard {
    width: 300px;
  }
  input#searchbox {
    width: 320px;
    margin-right: 0;
  }
}
@media screen and (min-width: 640px) {
  #content {
    width: 100%;
  }
  #callingcard {
    height: 360px;
  }
  #callingcard p { text-align: center; }
  #callingcard, input#searchbox {
    width: 480px;
  }
  input#searchbox {
    width: 500px;
  }
}
@media screen and (min-width: 900px) {
  #searchform {
    position: absolute;
    right: 20px;
  }
  input#searchbox {
    width: 320px;
  }
}
