body {
  color: #666;
}

a {
  text-decoration: none;
  color: #fe57a1;
}

a:hover {
  text-decoration: underline;
}

hr {
  border-style: none;
  background-color: #fe57a1;
  height: 1px;
}

#content img {
  max-width: 100%;
  max-height: 440px;
}
#content img.big {
  max-height: 880px;
}

@media print {
  .pageheader, .pagefooter { display: none; }
}
.w300 { width: 300px;}
h1, h2, h3, h4, h5, h6 {
  font: bold 100% sans-serif;
  page-break-after: avoid;
}
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
