/* actiontabs theme for ikiwiki
 *
 * by svend
 */

a {
	text-decoration: none;
	color: #fe57a1;
}

a:hover {
	text-decoration: underline;
}


hr {
	border-style: none;
	background-color: #fe57a1;
	height: 1px;
}

code, pre {
	background: #333;
}

pre {
	padding: .5em;
}

body {
	margin: 0;
	padding: 0;
	color: #fff;
	background: #999;
}

.pageheader {
	background: #999;
	border-style: none;
}

#pageinfo {
	border-style: none;
}

.inlinepage {
	border-style: none;
}

.pageheader .actions ul li {
	background: #fff;
	border-style: none;
}
.pageheader .actions ul li a {
	color: #fe57a1;
}

.sidebar {
	border-style: none;
}
