/* actiontabs theme for ikiwiki
 *
 * by svend
 */

a {
	text-decoration: none;
	color: #fe57a1;
}

a:hover {
	text-decoration: underline;
}


hr {
	border-style: none;
	background-color: #888;
	height: 1px;
}

code, pre {
	background: #333;
}

pre {
	padding: .5em;
}

body {
	margin: 0;
	padding: 0;
	color: #888;
	background: #666;
}

.pageheader {
	background: #333;
	border-color: #888;
	border-style: none none solid none;
	border-width: 1px;
}

#pageinfo {
	border-color: #888;
}

.inlinepage {
	border-style: none;
	border-top: 1px solid #aaa;
}

.pageheader .actions ul li {
	background: #fe57a1;
	border-color: #888;
	border-style: solid solid none solid;
	color: #888;
}

.sidebar {
	border-color: #888;
}
